Authomatic==0.0.13
Flask==1.0.2
Flask-PyMongo==0.3.1
Flask-Cache==0.13.1
Flask-Mail==0.9.1
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
itsdangerous==0.24
pymongo==2.8
pytz==2015.2
requests==2.20.1
six==1.9.0

# 3rd party services
newrelic==2.50.0.39

# Application server
gunicorn==19.9.0
